* {
  margin: 0;
  box-sizing: border-box;
}

html {
  color: black;
  overflow: hidden;
  height: 100%;
}

header {
  background-color: rgba(226, 224, 224, 0.253);
  color: black;
  padding: 10px;
  box-shadow: 1px 1px 10px silver;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

header img {
  max-width: 20px;
}

input {
  background-color: rgba(226, 224, 224, 0.253);
  border: none;
  border-radius: 10px;
  padding: 4px 10px;
  margin-top : 4px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.content {
  display: grid;
  grid-template-columns: minmax(500px, 4fr) minmax(300px, 1fr);
  overflow: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
  height: calc(100vh - 40px);
  padding: 20px;
}

.generalInput {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 20px;
}

.educationInput {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 20px;
}

.experienceInput {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 20px;
}

.moreInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.input-header {
  font-weight: 300;
  font-size: x-large;
  color: black;
}


.genInfo,
.eduInfo,
.expInfo,
.moreInfo {
  text-decoration: none;
  flex: 1;
}

.general,
.education,
.experience,
.more {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  margin: 10px 0 0 20px;
  box-shadow: 0px 2px 6px silver;
}

textarea {
  resize: none;
  border: none;
  min-height: 4rem;
  width: 100%;
  background-color: rgba(226, 224, 224, 0.253);
  border-radius: 10px;
  margin-top: 6px;
  padding: 4px 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 40px);
  overflow: auto;
  box-shadow: 0px 11px 30px -10px #ccc, 0px -11px 8px -30px white;
}

.overview-header {
  font-weight: 300;
  font-size: x-large;
}

.educationOverview,
.experienceOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 20px 0;
}

li {
  flex: 1;
  list-style-type: none;
  text-align: center;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(226, 224, 224, 0.253);
}

.add-button {
  align-self: center;
  text-align: center;
  padding: 6px 40px;
  border: none;
  border-radius: 6px;
  background-color: rgba(241, 240, 240, 0.8);
  cursor: pointer;
}

.edit-button,
.remove-button {
  background-color: white;
  border: none;
  border-radius: 6px;
  padding: 4px 10px;
  margin: 6px;
  cursor: pointer;
}

.preview-button {
  border: none;
  border-radius: 6px;
  background-color: rgba(241, 240, 240, 0.445);
  padding:  6px 28px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* media Queries */

@media (max-width: 400px) {
  html {
    overflow: unset;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .form {
    overflow: unset;
    height: unset;
  }
}